<!-- Navigation Bar Start  -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" routerLink="#">Doctor Appointment System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
        aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navb" class="navbar-collapse collapse hide">
        <ul class="navbar-nav" style="margin-left: 80px;">
            <li class="nav-item">
                <a class="nav-link" routerLink="/patient">Patient Manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/doctor">Doctor Manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/bill-manage">Bill Manage</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/login"><span class="fas fa-sign-in-alt"></span> Sign Out</a>
            </li>
        </ul>

    </div>
</nav>
<!-- Navigation Bar End  -->

<!-- Patient Manage Page Start -->
<div class="addpatient">
    <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#exampleModal">Add
        Patient</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone No</th>
            <th>Address</th>
            <th>DOB</th>
            <th>Email Id</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of allpatient">
            <td>{{patient.id}}</td>
            <td>{{patient.pName}}</td>
            <td>{{patient.pPhoneNo}}</td>
            <td>{{patient.pAddress}}</td>
            <td>{{patient.pDob}}</td>
            <td>{{patient.pEmail}}</td>
            <td>{{patient.pSex}}</td>
            <td>{{patient.pAge}}</td>
            <td>
                <input type="button" value="Edit" (click)="EditPatient(patient)" data-toggle="modal"
                    data-target="#exampleModal" class="btn btn-success me-2" />
                <input type="button" value="Delete" (click)="DeletePatient(patient)" class="btn btn-danger" />
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Patient</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" [formGroup]="formValue">
                    
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">Name</label>
                        <input type="text" formControlName="pName" class="form-control" id="inputName" placeholder="Name">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPhoneNo" class="form-label">Phone No</label>
                        <input type="text" formControlName="pPhoneNo" class="form-control" id="inputPhoneNo">
                    </div>
                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" formControlName="pAddress" class="form-control" id="inputAddress">
                    </div>
                    <div class="col-md-6">
                        <label for="inputDOB" class="form-label">DOB</label>
                        <input type="date" formControlName="pDob" class="form-control" id="inputDOB">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail" class="form-label">Email Id</label>
                        <input type="email" formControlName="pEmail" class="form-control" id="inputEmail">
                    </div>
                    <div class="col-md-6">
                        <label for="inputSex" class="form-label">Gender</label>
                        <select class="form-control" formControlName="pSex" id="inputSex">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputAge" class="form-label">Age</label>
                        <input type="text" formControlName="pAge" class="form-control" id="inputAge">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button *ngIf="btnSaveShow" type="button" class="btn btn-primary"
                    (click)="AddPatient()">Register</button>
                <button *ngIf="btnUpdateShow" type="button" class="btn btn-primary"
                    (click)="UpdatePatient()">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- Patient Manage Page End -->